
  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,700&family=DM+Sans:opsz,wght@9..40,500&display=swap');




.body{
    overflow-x: hidden;
    overflow-y:hidden;
    
    font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'DM Sans', sans-serif;

}


.container{
    background-color: black;
    Width: 108em;
    height: 433.8125em;
    overflow-x:hidden;
    overflow-y: hidden;
    min-height:0%;

    
}

.timi{
  display: inline-flex;
align-items: center;
gap: 1017px;
height:74px;
width:1463px;
margin-left: 133px;
margin-right: 132px;
margin-top:73px;
}

.timi p {
color: white;
 font-size: 26.15px;
 font-family: DM Sans;
 font-weight: 500;
 word-wrap: break-word
}


.a {
  color: #06070A;
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
padding: 24px 32px;
justify-content: center;
align-items: center;
gap: 24px;
width:290px;
background: linear-gradient(95deg, #FFF 0%, rgba(255, 255, 255, 0.51) 101.07%);

}

.b {
  color: rgba(255, 255, 255, 0.60);
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.4px;
text-align: center;
margin-top: 184px;
}

.embark {
  text-align: center;
font-family: "Bricolage Grotesque";
font-size: 108px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -2.16px;
background: linear-gradient(95deg, #FFF 1.7%, rgba(255, 255, 255, 0.44) 100.26%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: 37px;
position: relative;
z-index:100000;

}

.c {
  color: white;
font-size: 33px;
font-family: DM Sans;
font-weight: 400;
letter-spacing: 0.33px;
word-wrap: break-word;
margin-top: 37px;
}



.images {
  position: absolute;
  top:300px;
  left:300px;
}

.images img 
{ 
  opacity: 0.77;
filter: blur(6.999999523162842px);
flex-shrink: 0;
width: 336px;
height: 336px;

}


.image {
  position: absolute;
  top:600px;
  right:-500px;
  
}

.image img
{ 
  opacity: 0.77;
filter: blur(6.999999523162842px);
width: 622px;
height: 622px; 
}

.overflow {
  overflow:hidden;
}

.paymentgateway {
  margin-top: 300px;
  -webkit-text-stroke-width: 1.470339059829712px;
  background: #050810;
-webkit-text-stroke-color: black;
font-family: Montserrat;
font-size: 307.474px;
font-style: normal;
font-weight: 700;
line-height: 113%; 
letter-spacing: -19.986px;
text-transform: uppercase;
opacity: 0.1;
color:#FFF;
Width:3020px;
overflow-x: hidden;
text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;

}


.flexmode {
  display: flex;
  gap: 74px;
  margin-top: 0px;
}

.helix {
  width: 618px;
height: 618px;
flex-shrink: 0;

}
.helix img {
  width: 618px;
height: 618px;
flex-shrink: 0;



}
.community {
  color: rgba(255, 255, 255, 0.60);
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.4px;
}

.discover {
  margin-top: 49px;
  margin-bottom: 49px;
  font-family: "Bricolage Grotesque";
font-size: 76px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(95deg, #FFF 1.7%, rgba(255, 255, 255, 0.44) 100.26%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.empower {
  color: #FFF;
text-align: justify;
font-family: "DM Sans";
font-size: 33px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.33px;
}


.gateway {
  margin-top: 69px;
  display: inline-flex;
padding: 0 103px 0 103px;
align-items: center;
background: #050810;
Width:3020px;
height: 347px;

}

.gateway p {
  -webkit-text-stroke-width: 1.470339059829712;
-webkit-text-stroke-color: #000;
font-family: Montserrat;
font-size: 307.474px;
font-style: normal;
font-weight: 700;
line-height: 113%; /* 347.446px */
letter-spacing: -19.986px;
text-transform: uppercase;
opacity: 0.1;
color: #FFF;
text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;

}


/* this area is for discovering the cryptolink portal */

.discover p {
  color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.4px;
}


.empowering {
  text-align: center;
font-family: "Bricolage Grotesque";
font-size: 76px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(95deg, #FFF 1.7%, rgba(255, 255, 255, 0.44) 100.26%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 46px;
margin-top: 46px;
}

.serving {
  color: #FFF;
text-align: center;
font-family: "DM Sans";
font-size: 33px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.33px;
margin-bottom: 200px;
}

.discover {
  position: relative;
  z-index: 10000000000000;
}

.thorus {
  width: 840px;
height: 838px;
flex-shrink: 0;
opacity: 0.74;
filter: blur(14px);
position: absolute;
top: 2500px;
left: 350px;
}

/* this area is for discovering the cryptolink portal */


.flexcontainer {

  margin-top: 70px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 250px 0px 250px;
  
}

.crypto, .security{
  width: 50%;
  flex: 1;
  gap:300px;
  position: relative;
  z-index: 1000000;

  
}

.crypto { 
  color: #FFF;
font-family: "DM Sans";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.5px;

}

.crypto p {
  color: #FFF;
font-family: "DM Sans";
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.27px;
}

.security {
  color: #FFF;
font-family: "DM Sans";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.5px;
}

.security P {
  color: #FFF;
font-family: "DM Sans";
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.27px;
}


.security img, .crypto img {
  width: 242px;
height: 242px;
flex-shrink: 0;
margin-bottom: 16px;
display: flex;
z-index: 10000;



}

.custom-svg {
position: absolute;
top:30px;
z-index: -1;
width: 242px;
height: 242px;

}



.custom-svg2 {
  position: absolute;
  top:30px;
  left:3px;
  z-index: -1;
  width: 242px;
  height: 242px;
  }




  /* this is the second area for gateway */


  
  .p p {
    margin-top: 0%;
    display: block;
    text-align: center;
font-family: "Bricolage Grotesque";
font-size: 76px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: linear-gradient(95deg, #FFF 1.7%, rgba(255, 255, 255, 0.44) 100.26%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

  }
  .p {
    background: #050810;
  }


  .container2 {
    display: flex;
    color:#FFF;
    padding: 0px 120px 0px 120px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:50px;
  }

  .item1, .item2, .item3 {
    width: 400px;
height: 530px;
flex-shrink: 0;
background: #141414;

  } 

  .item1, .item2, .item3 {
    color: rgba(255, 255, 255, 0.60);
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.4px;
padding: 50px;

  }


  .item1 p, .item2 p, .item3 p {
    color: #FFF;
font-family: "DM Sans";
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.45px;
margin-top: 105px;
margin-bottom: 37px;
  }

  .item2 p, .item3 p {
    margin-top: 90px;
  }
  
.boost {
  color: #FFF;
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.24px;
}


.svg-item {
  display: flex;
width: 24px;
height: 24px;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-top: 140px;
}

.svg-item2 {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 90px;
}

.svg-item3 {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 120px;
}



/* this area is for receive transmision */
.container3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 220px 0px 198px;
  margin-top: 200px;
  gap:40px;
}

.receive {
  color: #FFF;
text-align: left;
font-family: "DM Sans";
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.5px;

}

.receive p {
  color: #FFF;
font-family: "DM Sans";
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.27px;
margin-left: 0%;
display: flex;
}


.email {
  display: flex;
width: 480px;
height: 91px;
padding: 28px 184px 28px 32px;
align-items: center;
gap: 236px;
flex-shrink: 0;
background: rgba(255, 255, 255, 0.08);
color: rgba(255, 255, 255, 0.21);
font-family: "DM Sans";
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.27px;
}



/* this is the area for footer */
.container4 {
  display: flex;
  justify-content: space-around;
  align-items: left; 
  margin-top: 234px;
  padding: 0px 150px 0 150px;
  gap:20px;
}

.content1 {
  color: #FFF;
font-family: "DM Sans";
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.35px;
}

.content1 p {
  margin-top: 50px;

  color: rgba(255, 255, 255, 0.45);
  font-family: "DM Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height:50px;
  letter-spacing: 0.28px;
  display: flex;
}